@import "./cssTools/mixin.scss", "./cssTools/variables.scss", "./cssTools/common.scss", "./cssTools/animations.scss";

.card {
  @include flexi(row, space-between, center);
  @include mobile {
    flex-wrap: wrap;
  }
}

.contact_info {
  width: 40%;
}
.contact_message {
  width: 60%;
}

@include mobile {
  .contact_info,
  .contact_message {
    width: 100%;
  }
}

form {
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
