/* for tables */
/* end tables */
/* forms */
/* End Forms */
@keyframes opening_nav {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opening_nav {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

[class*=col-] {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  position: relative;
  height: 60vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center -20em;
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 0 #414141, 1px -1px 0 #6d6d6d, -1px 1px 0 #6d6d6d, 1px 1px 0 #707070;
}
.hero h1 {
  font-size: 55px;
}

.slideshow,
.slideshow:after {
  top: -16px;
  width: 100%;
  height: 70vh;
  left: 0px;
  z-index: 5;
}

.slideshow {
  list-style-type: none;
}
.slideshow li span {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0));
}
.slideshow li:nth-child(1) span {
  background-image: url("../images/antelope.jpg");
}
.slideshow li:nth-child(2) span {
  background-image: url("../images/elephant.jpg");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("../images/lion.jpg");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("../images/claudio-guglieri-K2RH1QZdLF4-unsplash.jpg");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("../images/girraf.jpg");
  animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
  background-image: url("../images/zebra.jpg");
  animation-delay: 30s;
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.info h1 {
  color: #1b2f33;
  align-items: center;
  text-align: center;
}
.info p {
  text-align: center;
  color: #1b2f33;
  justify-content: center;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.col-4 {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.row_about_info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1b2f33;
  background-color: #f5f5f5;
}
.row_about_info .info_about_us {
  padding: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.row_about_info .info_about_us h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.row_about_info .info_about_us p {
  font-size: 18px;
  text-align: justify;
}
.row_about_info .info_about_us ul li {
  display: inline-block;
  list-style-type: circle;
  padding-right: 0.5em;
}

@media (max-width: 800px) {
  .row_about_info {
    flex-direction: column;
  }
}
section {
  padding: 20px;
}

.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #1b2f33;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  align-items: center;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #7e5920;
}

.button-89 a {
  text-decoration: none;
  color: #1b2f33;
}

.containerr {
  text-align: center;
  align-items: center;
}

.activities_info {
  padding-left: 1em;
  align-items: center;
  text-align: center;
}
.activities_info .button-90 {
  position: absolute;
  margin-left: 12em;
  margin-right: 12em;
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #1b2f33;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  text-align: center;
}
.activities_info .button-90 .button-90 {
  position: absolute;
  margin-left: 12em;
  margin-right: 12em;
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #1b2f33;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  text-align: center;
}
.activities_info .button-90 .button-90:hover,
.activities_info .button-90 .button-90:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}
.activities_info .button-90 .button-90:active {
  background: var(--color);
  color: #7e5920;
  align-items: center;
}
.activities_info .button-90 .button-90 a {
  text-decoration: none;
  color: #1b2f33;
  align-items: center;
}

section h1 {
  text-align: center;
  font-size: 36px;
  color: #1b2f33;
  -webkit-text-decoration: underline #7e5920;
  text-decoration: underline #7e5920;
}

.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
.container .row_cards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.container .row_cards .imgcard {
  width: 25%;
  height: 18em;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .row_cards .imgcard:hover img {
  opacity: 0.7;
}
.container .row_cards .row1:nth-child(1) {
  background-image: url(../images/worship.jpg);
}
.container .row_cards .row1:nth-child(2) {
  background-image: url(../images/Doctrine.jpeg);
}
.container .row_cards .row1:nth-child(3) {
  background-image: url(../images/Women.jpg);
}
.container .row_cards .row1:nth-child(4) {
  background-image: url(../images/history.jpeg);
}
.container .row_cards .row2:nth-child(1) {
  background-image: url(../images/youth.jpg);
}
.container .row_cards .row2:nth-child(2) {
  background-image: url(../images/missio.jpeg);
}
.container .row_cards .row2:nth-child(3) {
  background-image: url(../images/antelope.jpg);
}
.container .row_cards .row2:nth-child(4) {
  background-image: url(../images/give.jpg);
}

.imgcard {
  position: relative;
  overflow: hidden;
  padding: 13px;
}

.imgcard img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.imgcard:hover img {
  opacity: 0.7;
}

.imgcard .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.imgcard:hover .img-overlay {
  opacity: 1;
}

.activities_doc h1 {
  text-align: center;
  align-items: center;
  font-size: 24px;
  color: #1b2f33;
}

.containerr .activities_info {
  display: flex;
  width: 50%;
  text-align: right;
  margin: 1em 2em 2em 1em;
}

.activities_doc h1 {
  font-size: 45px;
  text-align: center;
  align-items: center;
  color: #1b2f33;
  position: relative;
}

.activities_info {
  text-align: justify;
  align-items: center;
  color: #1b2f33;
  font-size: 18px;
}

.activities_info p {
  text-align: justify;
}

.activities_info h1 {
  font-size: 24px;
  color: #1b2f33;
  margin-bottom: 10px;
}

.info_container {
  text-align: justify;
  color: #1b2f33;
  font-size: 18px;
}

.info_container h1 {
  text-align: justify;
  font-size: 24px;
  color: #1b2f33;
  margin-bottom: 20px;
}

.containerr .activities_img2 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/matt-meilner-6cWHTHShryg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img3 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/pots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img4 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/bible.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img5 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/give.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img6 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/sdbwf-malawi_450_300.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img7 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/tea fields.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img8 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/nyika.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

.containerr .activities_img9 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-image: url("../images/Nyau.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .activities_img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .activities_img1 {
    width: 100%;
    height: 70vh;
    margin: 0;
  }
  .activities_info {
    width: 100%;
    text-align: left;
  }
}
.ministries_doc h1 {
  text-align: center;
  align-items: center;
  font-size: 24px;
  color: #1b2f33;
}

.containerr {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1b2f33;
}
@media (max-width: 900px) {
  .containerr {
    flex-direction: column;
  }
}
.containerr .button-89 {
  align-items: center;
}
.containerr .activities_img {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 60vh;
  background-image: url("../images/matt-meilner-6cWHTHShryg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 2em 2em 1em 2em;
  flex-wrap: wrap;
}
.containerr .ministries_img,
.containerr .ministries_img2,
.containerr .ministries_img3 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 0 2em;
  flex-wrap: wrap;
  border-radius: 1em;
}
.containerr .ministries_img {
  background-image: url("../images/IMG_8066.jpg");
}
.containerr .ministries_img2 {
  background-image: url("../images/Women.jpg");
}
.containerr .ministries_img3 {
  background-image: url("../images/ministries.jpg");
}
.containerr .ministries_info {
  display: flex;
  width: 50%;
  text-align: right;
  margin: 1em 2em 2em 1em;
}

.ministries_doc h1 {
  font-size: 45px;
}

.ministries_info p {
  text-align: justify;
  color: #1b2f33;
  font-size: 22px;
}

@media (max-width: 768px) {
  .ministries_img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .ministries_info {
    width: 100%;
    text-align: left;
  }
}
footer {
  background-color: #1b2f33;
  color: #fff;
  padding: 10px;
  text-align: center;
} 
.container .row_cards2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .row_cards2 .imgcard12 {
  width: 25%;
  height: 18em;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 978px) {
  .container .row_cards2 .imgcard12 {
    width: 50%;
  }
}
@media screen and (max-width: 580px) {
  .container .row_cards2 .imgcard12 {
    width: 100%;
    height: 19em;
  }
}
@media screen and (max-width: 320px) {
  .container .row_cards2 .imgcard12 {
    height: 10em;
  }
}
.container .row_cards2 .imgcard12:hover img {
  opacity: 0.7;
}
.container .row_cards2 .row1:nth-child(1) {
  background-image: url(../images/chawe\ inn.jpeg);
}
.container .row_cards2 .row1:nth-child(2) {
  background-image: url(../images/the\ lake.jpg);
}
.container .row_cards2 .row1:nth-child(3) {
  background-image: url(../images/parks.jpg);
}
.container .row_cards2 .row1:nth-child(4) {
  background-image: url(../images/liwonde\ park.jpg);
}

.imgcard12 {
  position: relative;
  overflow: hidden;
  padding: 13px;
}

.imgcard12 img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.imgcard12:hover img {
  opacity: 0.7;
}

.imgcard12 .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.imgcard12:hover .img-overlay {
  opacity: 1;
}

.row_about_info1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1b2f33;
}

@media (max-width: 800px) {
  .row_about_info1 {
    flex-direction: column;
  }
}
.row_about_info1 .info_about_us1 {
  background-color: #f5f5f5;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
}

.row_about_info1 .info_about_us1 h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.row_about_info1 .info_about_us1 p {
  font-size: 18px;
  text-align: justify;
}

.col-6 {
  width: 50%;
}

.content img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.col-6 {
  text-align: left; /* Align text to the left */
  padding: 60px;
  height: auto;
  line-height: 1.6;
}

.slidshow_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 900px) {
  .slidshow_container {
    flex-direction: column;
  }
}
.slidshow_container .slideshoww_info {
  width: 100%;
  margin-left: 0.5em;
  padding: 1em;
}
.slidshow_container .slideshoww {
  width: 100%;
  display: flex;
  position: relative;
  height: 38em;
  margin-right: 0.5em;
  list-style-type: none;
}
.slidshow_container .slideshoww li {
  background-color: red;
}
.slidshow_container .slideshoww li span {
  position: absolute;
  width: 85%;
  height: 100%;
  color: transparent;
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
  overflow: hidden;
  border-radius: 0.5em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0));
}
.slidshow_container .slideshoww li:nth-child(1) span {
  background-image: url("../images/mission1.jpg");
}
.slidshow_container .slideshoww li:nth-child(2) span {
  background-image: url("../images/mission2.jpg");
  animation-delay: 6s;
}
.slidshow_container .slideshoww li:nth-child(3) span {
  background-image: url("../images/mission3.jpg");
  animation-delay: 12s;
}
.slidshow_container .slideshoww li:nth-child(4) span {
  background-image: url("../images/mission4.jpg");
  animation-delay: 18s;
}
.slidshow_container .slideshoww li:nth-child(5) span {
  background-image: url("../images/mission5.jpg");
  animation-delay: 24s;
}
.slidshow_container .slideshoww li:nth-child(5) span {
  background-image: url("../images/makapwa5.jpg");
  animation-delay: 30s;
}

.testimonial {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}
.testimonial .testimonial-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial .testimonial-content .testimonial-item {
  width: 300px;
  margin: 20px;
  text-align: center;
}
.testimonial .testimonial-content .testimonial-item .testimonial-item h4 {
  margin-bottom: 5px;
}
.testimonial .testimonial-content .testimonial-item .testimonial-item span {
  color: #999;
}
.testimonial .testimonial-content .testimonial-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.activities_docc {
  padding-bottom: -0.1em;
}

.activities_docc h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.activities_docc h1:after {
  width: 3em;
  height: 0.1em;
  display: block;
  content: "";
  position: relative;
  margin-top: 0.5em;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

@media (max-width: 900px) {
  .containerr .activities_info {
    flex-direction: column;
    width: 100%;
  }
  .containerr .activities_img7,
  .containerr .activities_img8,
  .containerr .activities_img9 {
    flex-direction: column;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=visit_malawi.css.map */