/* for tables */
/* end tables */
/* forms */
/* End Forms */
@keyframes opening_nav {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opening_nav {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
[class*=col-] {
  float: left;
  width: 100%;
}

.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.info h1 {
  color: #1b2f33;
  align-items: center;
  text-align: center;
}
.info p {
  text-align: center;
  color: #1b2f33;
  justify-content: center;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.col-4 {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.row_about_info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1b2f33;
  background-color: #f5f5f5;
}
.row_about_info .info_about_us {
  padding: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.row_about_info .info_about_us h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.row_about_info .info_about_us p {
  font-size: 18px;
  text-align: justify;
}
.row_about_info .info_about_us ul li {
  display: inline-block;
  list-style-type: circle;
  padding-right: 0.5em;
}

@media (max-width: 800px) {
  .row_about_info {
    flex-direction: column;
  }
}
section {
  padding: 20px;
}

.activities_info {
  padding-left: 1em;
  align-items: center;
  text-align: center;
}
.activities_info .button-90 {
  position: absolute;
  margin: 1em auto;
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #1b2f33;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  text-align: center;
  transform: translate(50%, -50%);
}
.activities_info .button-90:hover, .activities_info .button-90:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}
.activities_info .button-90:active {
  background: var(--color);
  color: #7e5920;
  align-items: center;
}
.activities_info .button-90 a {
  text-decoration: none;
  color: #1b2f33;
  align-items: center;
}

section h1 {
  text-align: center;
  font-size: 36px;
  color: #1b2f33;
  -webkit-text-decoration: underline #7e5920;
  text-decoration: underline #7e5920;
}

.activities_doc h1 {
  text-align: center;
  align-items: center;
  font-size: 24px;
  color: #1b2f33;
}

.containerr .activities_info {
  display: flex;
  width: 50%;
  text-align: right;
  margin: 1em 2em 2em 1em;
}

.activities_doc h1 {
  font-size: 45px;
  text-align: center;
  align-items: center;
  color: #1b2f33;
  position: relative;
}

.activities_info {
  text-align: justify;
  align-items: center;
  color: #1b2f33;
  font-size: 18px;
}
.activities_info p {
  text-align: justify;
}
.activities_info h1 {
  color: #1b2f33;
  margin-bottom: 10px;
  font-size: 20pt;
}

.info_container {
  text-align: justify;
  color: #1b2f33;
  font-size: 18px;
}
.info_container h1 {
  text-align: center;
  font-size: 20pt;
  color: #1b2f33;
  margin-bottom: 20px;
}

.containerr .activities_img2,
.containerr .activities_img3,
.containerr .activities_img4,
.containerr .activities_img5,
.containerr .activities_img6,
.containerr .activities_img7,
.containerr .activities_img8,
.containerr .activities_img9 {
  display: flex;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 2em 1em 2em;
  border-radius: 0.4em;
  flex-wrap: wrap;
}
@media (max-width: 912px) {
  .containerr .activities_img2,
  .containerr .activities_img3,
  .containerr .activities_img4,
  .containerr .activities_img5,
  .containerr .activities_img6,
  .containerr .activities_img7,
  .containerr .activities_img8,
  .containerr .activities_img9 {
    background-size: contain;
    height: 35vh;
  }
}
.containerr .activities_img2 {
  background-image: url("../images/matt-meilner-6cWHTHShryg-unsplash.jpg");
}
.containerr .activities_img3 {
  background-image: url("../images/pots.jpg");
}
.containerr .activities_img4 {
  background-image: url("../images/bible.jpg");
}
.containerr .activities_img5 {
  background-image: url("../images/give.jpg");
}
.containerr .activities_img6 {
  background-image: url("../images/sdbwf-malawi_450_300.png");
}
.containerr .activities_img7 {
  background-image: url("../images/tea fields.jpg");
}
.containerr .activities_img8 {
  background-image: url("../images/nyika.jpg");
}
.containerr .activities_img9 {
  background-image: url("../images/Nyau.jpg");
}

.containerr {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1b2f33;
}
@media (max-width: 912px) {
  .containerr {
    flex-direction: column;
  }
}
.containerr .button-89 {
  align-items: center;
}

@media (max-width: 912px) {
  .containerr .activities_info {
    flex-direction: column;
    width: 100%;
  }
  .containerr .activities_img3,
  .containerr .activities_img5,
  .containerr .activities_img6,
  .containerr .activities_img4,
  .containerr .activities_img2,
  .containerr .activities_img7,
  .containerr .activities_img8,
  .containerr .activities_img9 {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 912px) {
  .world_federation .hero-content h1 {
    font-size: 26px;
  }
}/*# sourceMappingURL=world_federation.css.map */